# print dataframe without header row

#### ===>header="None":In this function header row also include in dataframe with index 0.

In [1]:
import pandas as pd
df=pd.read_csv("fname.csv",header=None)
df

          0    1    2
0      Name   id  age
1      asdf  NaN    6
2     divya   13   18
3      tanu   14   18
4     madhu    ?   19
5       Nan   16   19
6     kanna   17    7
7   kishore   18   23
8       sri   19   12
9      ammu  Nan   17
10     ammu   21   18
11     asdf  NaN    6
12    divya   13   18

#### ===>header=0:In this header row  function value is 0 doesnot include in dataframe.

In [2]:
df=pd.read_csv("fname.csv",header=0)

#### ===>header=False: In this false value is raising a type error

In [3]:
df=pd.read_csv("fname.csv",header=False)

TypeError: Passing a bool to header is invalid. Use header=None for no header or header=int or list-like of ints to specify the row(s) making up the column names

## using none function drop the header row

In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv("fname.csv",header=None)
df1=df.drop(0)
df1

          0    1   2
1      asdf  NaN   6
2     divya   13  18
3      tanu   14  18
4     madhu    ?  19
5       Nan   16  19
6     kanna   17   7
7   kishore   18  23
8       sri   19  12
9      ammu  Nan  17
10     ammu   21  18
11     asdf  NaN   6
12    divya   13  18

# Linspace function:

The numpy linspace function is a tool in python for creating numeric sequences.
Similarly numpy arrange function in that it creates sequences of evenly spaced numbers.
In this Numpy linspace functioncreates sequences of evenly spaced values within a defined interval.
Ex:np.linspace(start=0,end=100,num=5)
==>This code produces nd array object(numpy array)
0-25-50-75-100

In [6]:
df4=np.linspace(0,100,5)
df4

array([  0.,  25.,  50.,  75., 100.])

# ##

####